.table-striped tbody > tr > td
{
    text-align:center !important;
    background: white !important;
}
.table
{
    width:100%;
}
.form-horizontal .control-label {
    float: left;
    width: 160px;
    padding-top: 12px;
    text-align: right;
    font-size: 12px !important;
}
.table td {
    padding: 2px 2px;
    line-height: 20px;
    text-align: left;
    vertical-align: middle;
    border-top: 1px solid #ddd;
    font-size:12px;
}

.table th {
    padding: 0px 3px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    border-top: 1px solid #ddd;
    font-size:12px;
}
.table td input
{
    margin:0px 5px;
}
.table td select
{
    margin:0px 5px;
}
.lolz
{
    font-size:12px;
}

.kod
{
    text-transform:uppercase;
}

#personal_information{
		display:none;
	}
        
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
  -moz-appearance: textfield;
}

